<!--<alerta-ok></alerta-ok>
<alerta-mal></alerta-mal>-->

<div class="container">
	<div class="row">
		<div class="col-12 col-sm-6">
			<form>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nombre" #nombre>
				</div>
				<div class="form-group">
					<div class="float-left">
						<input type="text" class="form-control" placeholder="Foto" #foto>
						<!--<input type="file" class="form-control" (change)="cargarFoto($event)">-->
					</div>
					<div class="float-right">
						<img [src]="fotoSelecionada" alt="" *ngIf="fotoSelecionada">
						{{fotoSelecionada}}
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-success" (click)="agregar()">Agregar</button>
				</div>
			</form>
		</div>
		<div class="col-12 col-sm-6" *ngIf="personas.length>0; else NoHayData">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Persona</th>
						<th>Foto</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let persona of personas">
						<td>{{persona.nombre}}</td>
						<td>
							<img [src]="persona.foto" alt="" class="img-thumbnail" style="max-height: 100px">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<ng-template #NoHayData>
			<div class="col-12 col-sm-6">
				No hay personas agregadas
			</div>
		</ng-template>
	</div>
</div>