<div class="container">
	<div class="row">
		<div class="col-12 col-sm-6">
			<form>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Título" [(ngModel)]="titulo" name="titulo">
				</div>
				<div class="form-group">
					<input type="text" placeholder="Descripción" class="form-control" [(ngModel)]="descripcion" name="descripcion">
				</div>
				<div class="form-group">
					<textarea name="" id="" cols="30" rows="10" placeholder="Ingredientes" class="form-control" [(ngModel)]="ingredientes"
					 name="ingredientes"></textarea>
				</div>
				<div class="form-group">
					<textarea name="" id="" cols="30" rows="10" placeholder="Instrucciones" class="form-control" [(ngModel)]="instrucciones"
					 name="instrucciones"></textarea>
				</div>
				<div class="form-group">
					<input type="text" placeholder="Foto" class="form-control" [(ngModel)]="foto" name="foto">
				</div>
				<div class="form-group">
					<button type="button" (click)="agregar()" class="btn btn-success">Agregar</button>
				</div>
			</form>
		</div>
		<div class="col-12 col-sm-6">
			<table class="table">
				<thead>
					<tr>
						<th>Recetas</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let receta of recetas; let indice = index">
						<td>
							<h2>{{receta.titulo}}</h2>
							<em>{{receta.descripcion}}</em>
						</td>
						<td>
							<button class="btn btn-danger" (click)="eliminar(indice)">Borrar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>