<div class="container">
	<div class="row">
		<div class="col-12 col-sm-6">
			<form>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Título" [(ngModel)]="titulo" name="titulo">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Foto" [(ngModel)]="foto" name="foto">
				</div>
				<div class="form-group">
					<textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Descripción" [(ngModel)]="descripcion"
					 name="descripcion"></textarea>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Palabras clave" [(ngModel)]="palabrasClave" name="palabrasClave">
				</div>
				<div class="form-group">
					<input type="numeric" class="form-control" placeholder="Rating" [(ngModel)]="rating" name="rating">
				</div>
				<div class="form-group">
					<input type="numeric" class="form-control" placeholder="Revisiones" [(ngModel)]="revisiones" name="revisiones">
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-success" (click)="agregar()">Agregar</button>
				</div>
			</form>
		</div>
		<div class="col-12 col-sm-6" *ngIf="recetas.length>0; else NoHayRecetas">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Título</th>
						<th>Foto</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let receta of recetas; let indice = index" [ngStyle]="{color: obtenerColorLetra(receta)}" [ngClass]="{claseInclinada: aplicaClaseInclinada(receta), claseNormal: aplicaClaseNormal(receta)}">
						<td>{{receta.titulo}}</td>
						<td>
							<img [src]="receta.foto" alt="" class="img-thumbnail" style="max-height:100px">
						</td>
						<td>
							<button class="btn btn-danger" (click)="eliminar(indice)">Eliminar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<ng-template #NoHayRecetas>
			<div class="col-12 col-sm-6">
				No hay recetas ingresadas
			</div>
		</ng-template>
	</div>
</div>